.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 0;
  display: block;
  text-align: center;
  border: none;
  @include mobile-wrapper-width();
}

.button--color--grey {
  color: #444444;
  background-color: #f2f2f2;
  margin: 0 auto;
}
