.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  padding: 0;
  margin: 0;
  text-align: center;
}

.catalog__list {
  list-style: none;
  padding: 0;
}
