.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0;
}

.catalog__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .catalog {
    @include tablet-wrapper-width();
    margin: 0 auto;
  }

  .catalog__title {
    margin-bottom: 170px;
    text-align: start;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    @include desktop-wrapper-width();
  }
}
