.categories {
  margin: 0 auto;
  @include mobile-wrapper-width();
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  @include list-reset();
  @include mobile-wrapper-width();
}

@media (min-width: $tablet-width) {
  .categories {
    margin-bottom: 50px;
    @include tablet-wrapper-width();
  }

  .categories__list {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    margin-bottom: 85px;
    @include desktop-wrapper-width();
  }

  .categories__list {
    justify-content: space-between;
  }
}
