.copyright__link {
  display: block;
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
}

.copyright__link::after {
  content: "";
  position: absolute;
  cursor: pointer;
  top: -10px;
  right: 0;
  width: 27px;
  height: 34px;
  background-image: url("../../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
