.first-screen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 480px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.first-screen__wrapper {
  width: 280px;
  margin: 0 auto;
}

.first-screen__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 0;
}

.first-screen__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0 0 25px 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .first-screen {
    position: relative;
    min-height: 810px;
    background-image: none;
  }

  .first-screen__wrapper {
    width: 708px;
  }

  .first-screen__title {
    width: 430px;
    margin-bottom: 45px;
    margin-left: 90px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: start;
  }

  .first-screen__slogan {
    margin-left: 90px;
    margin-bottom: 50px;
    color: #111111;
    text-align: start;
  }

  .first-screen__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .first-screen__suggest-btn {
    margin-left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .first-screen {
    min-height: 695px;
  }

  .first-screen__wrapper {
    width: 1220px;
  }

  .first-screen__title {
    margin-top: 225px;
  }

  .first-screen__slogan {
    width: auto;
  }

  .first-screen__img {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
