.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-nav__toggle {
  font-size: 0;
}
