.product-card {
  padding: 0 19px;
  margin: -1px 0 0 0;
  border: 1px solid #ededed;
}

.product-card__content {
  @include mobile-wrapper-width();
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-card img {
  width: 140px;
}

.product-card__description {
  width: 140px;
}

.product-card__name {
  width: 80px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  padding: 0;
  margin: 20px 0 13px 0;
}

.product-card__table {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #444444;
  border-collapse: collapse;
}

.product-card__table tbody {
  display: flex;
  flex-wrap: wrap;
}

.product-card__table-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-card__table-val {
  width: 50%;
  padding: 0;
  line-height: 16px;
}

.product-card__table-val--right-align {
  text-align: right;
}

.product-card__link {
  padding: 10px 0;
  margin: 0 auto 24px auto;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    width: 254px;
    min-height: 360px;
    padding: 35px;
    margin-bottom: 142px;
    border: none;
    background-color: #f2f2f2;
  }

  .product-card__content {
    width: 100%;
  }

  .product-card img {
    margin: -90px auto 75px auto;
  }

  .product-card__name {
    width: 130px;
    margin: 0 auto 22px auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product-card__description {
    width: 100%;
  }

  .product-card__link {
    width: 250px;
    margin: 0 auto;
  }

  .product-card__table {
    min-height: 90px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 16px;
  }

  .product-card__table-row {
    padding: 5px 0 9px 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 175px;
    margin-bottom: 145px;
  }

  .product-card__link {
    width: 169px;
  }
}
