.product-card {
  padding: 0 19px;
  margin: -1px 0 0 0;
  border: 1px solid #ededed;
}

.product-card__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  @include mobile-wrapper-width();
}

.product-card img {
  width: 140px;
}

.product-card__description {
  width: 140px;
}

.product-card__name {
  width: 80px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  padding: 0;
  margin: 20px 0 0 0;
}

.product-card__table {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__link {
  margin: 0 auto 25px auto;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    width: 254px;
    min-height: 225px;
    padding: 165px 35px 40px 35px;
    margin-bottom: 140px;
    border: none;
    background-color: #f2f2f2;
  }

  .product-card--last {
    margin-bottom: 0;
  }

  .product-card__content {
    width: 100%;
  }

  .product-card img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
  }

  .product-card__name {
    width: 125px;
    margin: 0 auto 25px auto;
    text-align: center;
  }

  .product-card__description {
    width: 100%;
  }

  .product-card__link {
    width: 250px;
    margin: 0 auto;
  }

  .product-card__table {
    min-height: 90px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 175px;
    margin-bottom: 0;
    margin-top: 160px;
  }

  .product-card__link {
    width: 169px;
  }
}
