.show-more-block {
  min-height: 210px;
  color: #444444;
  border: 1px solid #ededed;
}

.show-more-block__text {
  text-align: center;
  padding: 0;
  margin: 0 0 25px 0;
}

.show-more-block__text--bold {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 60px 0 10px 0;
}

.show-more-block__show-all {
  margin-bottom: 25px;
}

.show-more-block__show-more {
  border: none;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .show-more-block {
    width: 324px;
  }

  .show-more-block__text {
    width: 170px;
    margin: 0 auto 80px auto;
    text-align: center;
  }

  .show-more-block__text--bold {
    width: 135px;
    margin: 150px auto 25px auto;
    text-align: center;
  }

  .show-more-block__show-all {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .show-more-block {
    width: 243px;
    margin-bottom: 140px;
  }

  .show-more-block__show-all {
    width: 170px;
  }
}
