.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 22px 0;
}

.social__list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social__link {
  display: block;
  font-size: 0;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--vk {
  background-image: url("../../img/icon-vk.svg");
}

.social__link--inst {
  background-image: url("../../img/icon-insta.svg");
}

.social__link--fb {
  background-image: url("../../img/icon-fb.svg");
}
